/* main.css */

/* استدعاء ملفات CSS أخرى */
@import url("main.css");
@import url("index.css");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");
@import url("");

/* لا توجد قواعد CSS أخرى هنا */